*.py
*.eps
*.txt
*.png
*.d
*.pdf

.gitconfig
.ICEauthority
.TeXworks/
.Xauthority
.Xauthority_backup
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dmrc
.dontdelete
.fontconfig/
.gconf/
.gimp-2.8/
.gnome/
.gnome2/
.gnupg/
.gnuplot_history
.hg/
.hgignore
.hplip/
.ipynb_checkpoints/
.ipython/
.jupyter/
.l1.d.swp
.l2.d.swp
.lesshst
.local/
.macromedia/
.mozilla/
.pki/
.profile
.python_history
.selected_editor
.ssh/
.sudo_as_admin_successful
.swm
.swn
.swo
.swp
.texlive2017/
.thunderbird/
.vim/
.viminfo
.wget-hsts
.xsession-errors
.xsession-errors.old
.z
21AFMC_paper.log
22nd October 2018 .ipynb
Documents/
Downloads/
L1vsWC
Pictures/
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
__pycache__/
adODEErrorImageUPDATE108Profile2eps
app.o
basic_animation.mp4
deja-dup/
dlang/
dotfiles/
dxONvANDcells.ods
examples.desktop
lapack-3.6.0/
plugin/
pyplotTest.o
snap/
temp
